.content:not(.noboard) {
  & .control-box {
    @media screen and (max-width: 450px) {
      overflow: auto;
      max-width: calc(100vw - 90px);
      padding-bottom: 2px;
      padding-right: 2px;
      margin-bottom: -2px;
      border-radius: 40px;
    }

    @media screen and (min-width: 1000px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
  }

  & .header {
    margin-bottom: 40px;
  }
}

.header .control-box {
  display: flex;
  gap: 10px;
  margin: 0 auto;

  & .button-wrap button {
    background-image: linear-gradient(to bottom right, var(--button-highlight-color) 49.5%, var(--background-color) 50%);

    &:active {
      transition: transform 0.03s;
      transform: scale(95%);
    }
  }
}