.content:not(.noboard) {
  & .control-box {
    @media screen and (max-width: 450px) {
      overflow: scroll;
      max-width: calc(100vw - 90px);
      padding-bottom: 2px;
      padding-right: 2px;
      margin-bottom: -2px;
      border-radius: 40px;
    }
  }
}

.header {
  display: flex;
  gap: 20px;
  width: max(750px, 60vw);
  margin: 10px auto auto auto;
  background: var(--button-color);
  padding: 20px calc(((90vw - 80px) - max(600px, 60vw) )/ 2);
  border-radius: 100px;
  position: sticky;
  top: 10px;
  z-index: 2;
  filter: var(--drop-shadow);

  & * {
    --drop-shadow: drop-shadow(1px 1px 1px hsla(var(--main-color), var(--l-dark), 0.35));
  }

  & .control-box {
    display: flex;
    gap: 10px;
    margin: 0 auto;

    @media screen and (min-width: 1000px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    & .button-wrap button {
      background-image: linear-gradient(to bottom right, var(--button-highlight-color) 49.5%, var(--background-color) 50%);

      &:active {
        transition: transform 0.03s;
        transform: scale(95%);
      }
    }
  }

  & .input-boxes {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 2px;
    padding-right: 2px;
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    padding: 25px 20px 20px;
    width: calc(100vw - 90px);
    border-radius: 60px;
    gap: 15px;

    & .input-boxes {
      gap: 15px;
    }
  }
    
  & .input-wrapper {
    color: var(--button-text-color);
    background-color: var(--background-color);
    filter: var(--drop-shadow);
    border-radius: 30px;
    padding: 12px 15px;
    display: flex;
    margin: auto 0;
    height: 35px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;

    &.ruby:not(.prepare) {
      align-items: baseline;
      font-size: 24px;
      padding: 12px 15px 12px 23px;

      &:has(ruby) {
        font-size: 20px;
      }

      & > * {
        color: var(--button-text-color);
      }
    }

    &.translate.prepare {
      & h2 {
        animation: blink-animation 1s steps(2, start) infinite;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    & textarea,
    & h2 {
      margin: auto 0 auto 6px;
      display: block;
      color: var(--button-text-color);
      white-space: pre;
      padding-right: 2px;
      position: relative;
    }

    & textarea {
      width: 100%;
      background: none;
      border: none;
      outline: none;
      font-size: 24px;
      margin-top: -1px;
      margin-left: 4px;
      resize: none;
    }

    &:first-child > h2:first-child::after {
      content: " ";
      width: 2px;
      background: var(--button-text-color);
      right: -5px;
      margin: 6px 0;
      position: absolute;
      height: calc(100% - 10px);
      animation: blink-animation 1.2s steps(2, start) infinite;
      opacity: 0.8;
    }
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
    
@keyframes shimmer {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}