.kuro-button-wrapper {
  display: flex;
  width: fit-content;
  gap: 15px;
  align-self: center;
  flex-flow: wrap;
  place-content: space-evenly;
}

.kana-button-control.kuro {
  margin: 0;
  width: fit-content;
  transition: opacity 0.3s, filter 0.3s;

  & button.ruby {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}