.header {
  & .input-boxes {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    justify-content: space-between;
  }
    
  & .input-wrapper {
    color: var(--button-text-color);
    background-color: var(--background-color);
    filter: var(--drop-shadow);
    border-radius: 30px;
    padding: 12px 15px;
    display: flex;
    margin: auto 0;
    height: 35px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;

    &.ruby:not(.prepare) {
      align-items: baseline;
      font-size: 24px;
      padding: 12px 15px 12px 23px;

      &:has(ruby) {
        font-size: 20px;
      }

      & > * {
        color: var(--button-text-color);
      }
    }

    &.translate.prepare {
      & h2 {
        animation: blink-animation 1s steps(2, start) infinite;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    & textarea,
    & h2 {
      margin: 0 0 auto 6px;
      display: block;
      color: var(--button-text-color);
      white-space: pre;
      padding-right: 2px;
      position: relative;
    }

    & textarea {
      width: 100%;
      background: none;
      border: none;
      outline: none;
      font-size: 24px;
      margin-top: -1px;
      margin-left: 4px;
      resize: none;
    }

    &:first-child > h2:first-child::after {
      content: " ";
      width: 2px;
      background: var(--button-text-color);
      right: -5px;
      margin: 6px 0;
      position: absolute;
      height: calc(100% - 10px);
      animation: blink-animation 1.2s steps(2, start) infinite;
      opacity: 0.8;
    }
  }
}