#app {
  display: flex;
  flex-grow: 1;

  @media screen and (min-width: 3000px) {
    & .content.noboard {
      align-self: center;
      place-content: center;
      flex-grow: 1;
    }
  }

  &:not(:has(.noboard)) {
    align-content: center;
    justify-content: center;
  }

  & .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &:has(.noboard .expanded) {
      & .navigation {
        transform: translateY(-85px);
      }
    }
    
    &:has(.noboard) {
      & .navigation {
        padding: 20px 10px 10px;
        margin: 0;
        z-index: 5;
        background: var(--button-color);
        transition: transform 0.5s;
        max-width: 100vw;
        overflow:auto;

        top: 0;
        filter: none;
        border-radius: 0;
        overflow: scroll;

        & .button-wrapper {
          filter: none;
          border-radius: 0;
          margin: 0 auto;
          padding: 10px;

          & .navigation-buttons {
            max-width: none;
          }
        }
      }
    }

    & .navigation {
      margin: 20px 0 10px;

      & .button-wrapper {
        & .navigation-buttons {
          transition: all 0.3s;
        }
      }
    }

    & .content {
      height: fit-content;
      display: flex;
      flex-direction: column;
    }
  }
}



@media screen and (max-width: 3000px) {
  .content.noboard {
    flex-grow: 1;
    filter: var(--drop-shadow);
    transition: margin 0.5s;

    &:has(.expanded) {
      z-index: 4;
      margin-top: -100px;
    }

    & .header {
      flex-direction: column;
      top: 0;
      margin: 0;
      gap: 25px;
      width: auto;
      max-width: 90vw;
      z-index: 5;
      border-radius: 0;
      padding: calc(45vh - 370px + 120px) max(5vw, calc(50vw - 500px)) min(8vh, 80px);
      clip-path: circle(240vw at 50% calc(-240vw + 45vh));

      filter: var(--drop-shadow);
      transition: height 0.5s, margin 0.5s, padding 0.5s, clip-path 0.5s;
      will-change: transform, clip-path, padding;

      & .control-box {
        gap: 15px;
      }

      & .input-boxes {
        gap: 30px;
        transition: height 0.5s, gap 0.5s, margin 0.5s;
        max-width: 1000px;
        position: relative;

        &::before {
          display: none;
          top: -50px;
          left: 10px;
          font-size: 24px;
          content: attr(data-translate);
          position: absolute;
          color: var(--button-text-color)
        }

        & #input-box,
        & #input-translate {
          width: 100%;
          will-change: height;
          transition: height 0.5s;
        }

        & .input-wrapper {
          will-change: height;
          transition: height 0.5s;
        }
      }

      &.expanded {
        clip-path: circle(320vw at 50% calc(-320vw + 360px - 74px - 80px + calc(90vh - 300px)));
        padding: 40px max(5vw, calc(50vw - 500px));
        margin-bottom: 20px;

        & .icon.expand {
          transform: scale(1.3) rotate(-180deg);
        }

        & .input-boxes {
          gap: 25px;

          & .input-wrapper {
            height: calc(45vh - 150px);

            & #input-box,
            & #input-translate{
              overflow-y: auto;
              height: calc(45vh - 150px);
              word-wrap: break-word;
              word-break: break-word;
              white-space: unset;
            }

            & #input-translate {
              margin: 0 0 auto 6px;
            }

            &:has(ruby) {
              flex-flow: wrap;
              row-gap: 5px;
              overflow-y: auto;
              align-content: flex-start;
            }
          }
        }
      }

      @media screen and (max-width: 1000px) {
        padding: calc(34vh - 370px + 120px) max(5vw, calc(50vw - 500px)) min(8vh, 80px);
        clip-path: circle(320vw at 50% calc(-320vw + 34vh));
        
        &.expanded {
          @media (max-width: 850px) {
            margin-bottom: -300px;
          }
        }
      }
    }

    & .kuro-button-wrapper {
      margin-bottom: 0;

      & .kuro {
        filter: none;
      }
    }
  }
}