#app {
  display: flex;
  flex-grow: 1;

  @media screen and (min-width: 1000px) {
    & .content.noboard {
      align-self: center;
      place-content: center;
      flex-grow: 1;
    }
  }

  &:not(:has(.noboard)) {
    align-content: center;
    justify-content: center;
  }

  & .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &:has(.noboard) {
      & .navigation {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 5;
      }
    }

    @media screen and (max-width: 1000px) {
      &:has(.noboard .expanded) {
        & .navigation {
          top: -100px;
        }
      }
      
      &:has(.noboard) {
        & .navigation {
          top: 0;
          transition: top 0.5s;
          filter: none;
          border-radius: 0;
          overflow: scroll;
  
          & .button-wrapper {
            filter: none;
            border-radius: 0;
            margin: 0 auto;
            padding: 10px;
  
            & .navigation-buttons {
              max-width: none;
            }
          }
        }
      }
    }

    & .navigation {
      transition: all 0.3s;

      & .button-wrapper {
        transition: all 0.3s;

        & .navigation-buttons {
          transition: all 0.3s;
        }
      }
    }
      
    & .navigation {
      margin: 20px 0;
    }

    & .content {
      height: fit-content;
      display: flex;
      flex-direction: column;
    }
  }
}



@media screen and (max-width: 1000px) {

  .content.noboard {
    flex-grow: 1;
    filter: var(--drop-shadow);
    transition: margin 0.5s;

    &:has(.expanded) {
      z-index: 4;
      margin-top: -100px;
    }

    & .header {
      clip-path: circle(180vh at 50% calc(-180vh + 360px));
      top: 0;
      margin: 0;
      gap: 25px;
      width: auto;
      z-index: 5;
      border-radius: 0;
      padding-top: 120px;
      padding-bottom: min(8vh, 80px);
      filter: var(--drop-shadow);
      transition: height 0.5s, margin 0.5s, padding 0.5s, clip-path 0.5s;
      will-change: transform, clip-path, padding;

      & .control-box {
        gap: 15px;
      }

      & .input-boxes {
        gap: 20px;
        transition: height 0.5s, gap 0.5s, margin 0.5s;
        width: calc(100vw - 42px);

        & #input-box,
        & #input-translate {
          will-change: height;
          transition: height 0.5s;
        }

        & .input-wrapper {
          will-change: height;
          transition: height 0.5s;
        }
      }

      &.expanded {
        clip-path: circle(180vh at 50% calc(-180vh + 360px - 70px - 72px + calc(100vh - 260px)));
        padding-top: 40px;
        margin-bottom: -340px;

        & .icon.expand {
          transform: scale(1.3) rotate(-180deg);
        }

        & .input-boxes {
          gap: 25px;

          & .input-wrapper {
            height: calc(50vh - 130px);

            & #input-box,
            & #input-translate{
              overflow-y: scroll;
              height: calc(50vh - 130px);
              word-wrap: break-word;
              word-break: break-word;
              white-space: unset;
            }

            & #input-translate {
              margin: 0 0 auto 6px;
            }

            &:has(ruby) {
              flex-flow: wrap;
              row-gap: 5px;
              overflow-y: scroll;
              align-content: flex-start;
            }
          }
        }
      }
    }

    & .kuro-button-wrapper {
      margin-bottom: 0;

      & .kuro {
        filter: none;
      }
    }
  }
}