.button-wrap {
  display: flex;
}

button {
  color: var(--button-text-color);
  min-width: 60px;
  font-size: 20px;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  margin: auto;
  cursor: pointer;
  user-select: none;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
  flex: 1 0 17%;

  animation-fill-mode: forwards;
  background-image: linear-gradient(to bottom right, var(--button-highlight-color) 49.5%, var(--button-color) 50%);
  background-size: 210% 210%;
  background-color: var(--button-color);
  background-position: bottom right;
  transition: background 0.2s, transform 0.2s;

  &:hover {
    transform: translate(-1px, -1px);
    background-position: top left;
    color: var(--button-click-text-color);
    background-color: var(--button-click-color);
  }

  &:active {
    transition: transform 0.03s;
    background: var(--button-click-color);
    transform: scale(95%);
    color: var(--button-click-text-color);
  }
}