.button-wrap {
  display: inline-grid;
}

button {
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s, background-color 0.25s;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
  user-select: none;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transition: transform 0.1s;
    background: #252525;
    transform: scale(1);
    color: white;
  }
}