.char-card {
  display: inline-grid;
  position: relative;
  width: min(8vw, 150px);
  height: min(8vw, 150px);
  perspective: 1000px;
  user-select: none;
  
  &:hover {
    & .card-front{
      transform: rotateY(180deg);
      opacity: 0.5;
    }
    & .card-back{
      transform: rotateY(0);
      opacity: 1;
    }
  } 

  & > div {
    display: grid;
    font-size: 48px;
    transition: all 0.5s;
    place-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--button-color);
    color: var(--button-text-color);
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
  }

  & .card-front {
    position:absolute;
  }

  & .card-back {
    opacity: 0.5;
    position:absolute;
    transform: rotateY(-180deg);
  }
}