.kana-two-column:has(.kana-cards) {
  margin-top: 30px;

  & .kana-button-control {
    top: 30px;
  }
}

.kana-cards {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  place-content: space-between;
  margin-bottom: auto;
}