.color-input {
  --color-input-background: var(--button-color);

  z-index: 3;
  padding: 5px 15px;
  position: fixed;
  left: 25px;
  bottom: 25px;
  background: var(--color-input-background);
  transition: background 0.3s, color 0.3s;
  display: flex;
  place-content: center;
  border-radius: 40px;
  filter: var(--drop-shadow);

  & label {
    align-self: center;
    user-select: none;
  }

  & label,
  & input {
    color: var(--button-text-color);
    transition: background 0.3s, color 0.3s;

    &::placeholder {
      color: var(--button-text-color);
      opacity: 0.75;
    }
  }

  &:has(input:invalid) {
    background: red;

    & label,
    & input {
      color: white;
    }
  }

  &.custom {
    & label,
    & input {
      color: black;

      &::placeholder {
        color: black;
        opacity: 0.7;
      }
    }

    &.light {
      & label,
      & input {
        color: white;

        &::placeholder {
          color: white;
          opacity: 0.7;
        }
      }
    }
  }

  & input {
    height: 25px;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 20px;
    background: none;
    transition: font 0.3s;
    width: 6ch;
  }
}

.mode-toggle {
  z-index: 3;
  & button {
    background-color: var(--background-color);
    background-image: linear-gradient(to bottom right, var(--button-highlight-color) 49.5%, var(--background-color) 50%);

    --button-text-color: var(--button-click-text-color);
    --background-color: var(--button-highlight-color);
    height: 60px;
    border-radius: 40px;

    &:active {
      background: var(--button-click-color);
    }
  }

  position: fixed;
  right: 25px;
  bottom: 25px;
}

body {
  & .sun {
    display: none;
  }
  & .moon {
    display: block;
  }

  &.night-mode {
    & .moon {
      display: none;
    }
    & .sun {
      display: block;
    }
  }
}