body {
  --main-color: 71, 61%;
  --l: 71%;
  --l-t: 90%;
  --l-dark: calc(var(--l) - 50%);
  --hsl-main: var(--main-color), var(--l);
  --hsl-dark: var(--main-color), var(--l-t);
  
  overscroll-behavior-y: none;
  margin: 20px;
  --button-color: hsl(var(--hsl-main));
  --button-highlight-color: hsl(var(--hsl-dark));
  --button-text-color: hsl(var(--hsl-dark));
  --button-click-color: #e3e3e3;
  --button-click-text-color: hsl(var(--hsl-main));
  --background-color: hsl(var(--main-color), calc(var(--l) - 10%));
  --drop-shadow: drop-shadow(1px 1px 2px hsla(var(--main-color), var(--l-dark), 0.2));

  &.night-mode {
    --main-color: 0, 0%;
    --l: 21%;
    --hsl-main: var(--main-color), var(--l);
    --hsl-dark: var(--main-color), var(--l-t);
  }

  &.light {
    --l-t: 10%;
  }
}

html * {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 500;
}

body {
  background: var(--background-color);

  & .content {
    & > * {
      margin-bottom: 30px;
    }
  }
}
