body {
  margin: 20px;
  --button-color: #f2f2f2;
  --button-highlight-color: #252525;
  --button-text-color: #2a2a2a;
  --button-click-color: #2a2a2a;
  --button-click-text-color: #fefefe;
  --background-color: #fefefe;
  --drop-shadow: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));

  &.night-mode {
    --button-color: #2a2a2a;
    --button-highlight-color: #d9d9d9;
    --button-text-color: #e3e3e3;
    --button-click-color: #e3e3e3;
    --button-click-text-color: #252525;
    --background-color: #191919;
    --drop-shadow: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
  }
}

html * {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 500;
}

body {
  background: var(--background-color);

  & .content {
    & > * {
      margin-bottom: 30px;
    }
  }

  & .mode-toggle {
    & button {
      background-color: var(--background-color);
      background-image: linear-gradient(to bottom right, var(--button-highlight-color) 49.5%, var(--background-color) 50%);
      
      --button-text-color: var(--button-click-text-color);
      --background-color: var(--button-highlight-color);
  
      &:active {
        background: var(--button-click-color);
      }
    }

    position: fixed;
    right: 25px;
    bottom: 25px;
  }
}
