.header {
  display: flex;
  gap: 20px;
  width: max(750px, 60vw);
  margin: 25px auto;
  background: var(--button-color);
  padding: 20px calc(((90vw - 80px) - max(600px, 60vw) )/ 2);
  border-radius: 100px;
  position: sticky;
  top: 10px;
  z-index: 1;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));

  & .control-box {
    margin: auto 0;
    display: flex;
    gap: 10px;
    justify-content: space-around;

    & .button-wrap button {
      background-image: linear-gradient(to bottom right, var(--button-highlight-color) 49.5%, var(--background-color) 50%);
    }
  }

  & .input-boxes {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    justify-content: space-between;
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    padding: 25px;
    width: calc(90vw - 40px);
    border-radius: 60px;
    gap: 15px;

    & .input-boxes {
      gap: 15px;
    }
  }
    
  & .input-wrapper {
    color: white;
    background-color: var(--background-color);
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
    border-radius: 30px;
    padding: 12px 15px;
    display: flex;
    margin: auto 0;
    height: 35px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    & > * {
      margin: auto 0 auto 8px;
      display: block;
      white-space: nowrap;
    }
  }
}