.header {
  display: flex;
  gap: 20px;
  height: 150px;

  & .control-box {
    margin: auto 0;
    display: flex;
    gap: 10px;
  }
    
  & .input-wrapper {
    color: white;
    background-color: var(--button-color);
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
    border-radius: 30px;
    padding: 12px 15px;
    display: flex;
    margin: auto 0;
    height: 35px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    & > * {
      margin: auto 0 auto 8px;
      display: block;
      white-space: nowrap;
    }
  }
}