.kana-buttons {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 35px;
  column-gap: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }

  & > div {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 15px;
    column-gap: 10px;
    place-content: space-between;
    margin-bottom: auto;
  }
}

.kana-button-control {

  grid-template-columns: repeat(5, 1fr);
  position: sticky;
  top: 280px;
  z-index: 1;
  background: var(--button-color);
  padding: 10px 5px;
  border-radius: 50px;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
  margin: auto;

  @media screen and (min-width: 1000px) {
    top: 200px;
  }

  @media screen and (min-width: 800px) {
    grid-area: 1 / 1 / 2 / 3;
  }


  & button {
    background-color: var(--background-color);
    background-image: linear-gradient(to bottom right, var(--button-highlight-color) 49.5%, var(--background-color) 50%);

    &:active {
      background: var(--button-click-color);
    }
  }
}

