.button-wrapper {
  display: flex;
  padding: 15px;
  margin: 0 auto;
  width: fit-content;
  background: var(--button-color);
  filter: var(--drop-shadow);
  border-radius: 40px;
}

.navigation-buttons,
.navigation {
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
}

.navigation-buttons {
  border-radius: 40px;
  display: flex;
  margin: -4px -2px -2px;
  padding: 4px 2px 2px;
  gap: 10px;
  z-index: 3;
  overflow-x: auto;
  width: fit-content;
  justify-content: space-between;
  max-width: calc(100vw - 60px);

  & li {
    user-select: none;
    list-style: none;
    cursor: pointer;

    & span {
      filter: var(--drop-shadow);
      display: block;
      padding: 10px 15px;
      color: var(--button-text-color);
      background-color: var(--background-color);
      background-image: linear-gradient(to bottom right, var(--button-highlight-color) 49.5%, var(--background-color) 50%);
      animation-fill-mode: forwards;
      background-size: 210% 210%;
      background-position: bottom right;
      transition: background 0.2s, transform 0.2s;  
      border-radius: 25px;

      &.active {
        --button-text-color: var(--button-click-text-color);
        --background-color: var(--button-highlight-color);
        color: var(--background-color-copy);
      }

      &:hover:not(.empty) {
        transform: translate(-1px, -1px);
        background-position: top left;
        --button-text-color: var(--button-click-text-color);
        background-color: var(--button-click-color);
      }

      &:active:not(.empty) {
        transition: transform 0.03s;
        transform: scale(95%);
      }
    }
  }
}

#app {
  & .main {
    &:has(.noboard .expanded) {
      & .navigation {
        transform: translateY(-85px);
      }
    }
    
    &:has(.noboard) {
      & .navigation {
        padding: 20px 0 10px;
        margin: 0;
        z-index: 5;
        background: var(--button-color);
        transition: transform 0.5s;
        max-width: 100vw;
        overflow:auto;
  
        top: 0;
        filter: none;
        border-radius: 0;
        overflow: scroll;
  
        & .button-wrapper {
          filter: none;
          border-radius: 0;
          margin: 0 auto;
          padding: 10px 20px;
  
          & .navigation-buttons {
            max-width: none;
          }
        }
      }
    }
  }
}