.content .kana-button-control {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 1fr);
  position: sticky;
  top: 270px;
  z-index: 1;
  background: var(--button-color);
  padding: 10px 12px;
  border-radius: 50px;
  filter: var(--drop-shadow);
  margin: auto;
  margin-bottom: 20px;

  @media screen and (min-width: 1000px) {
    top: 200px;
  }

  @media screen and (min-width: 800px) {
    grid-area: 1 / 1 / 2 / 3;
  }


  & button {
    background-color: var(--background-color);
    background-image: linear-gradient(to bottom right, var(--button-highlight-color) 49.5%, var(--background-color) 50%);

    &.active {
      --button-text-color: var(--background-color);
      --background-color: var(--button-highlight-color);

      & span {
        color: var(--background-color-copy);
      }
    }
  }
}

